body { 
    background-image: url('../img/creepyshark.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    display: block fixed;
}
 .top {
    margin: auto;
    width: 80%;
    background: transparent;
    padding: 10px;
} 
footer {
      position: relative;
      text-align: center;
      bottom: -200px;
} 
